<%- include ('../../partials/head.ejs') %>

    <div class="container my-container">

        <h1 class="display-1 text-center"> Welcome Your Deshboard</h1>
    </div>
    <!--container end.//-->

    </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <%- include ('../../partials/footer.ejs') %>

        </body>

        </html>